body{
    position: relative;
    padding-bottom: 58px;
    min-height: 100vh;
}
body h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
}
thead{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
tbody{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 20px;
}